* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.nav-item>a.nav-link{
  text-decoration: none;
}
.nav-item>a.nav-link:hover{
  color: #9DA070;
}
@media (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.nav-link.dropdown-toggle::after {
  display: none;
}

header h1 {
  color:#494949;

}

.dropdown-menu a {
 text-transform: uppercase;
}

.nav-link {
  text-transform: uppercase;
}

.nav a {
  color:#494949;
}

.english-spoken {
  background-color: #F0EFEB;
  padding: 20px, 0px;
}

.en {
   border-bottom: 1px solid #4B5905;
   width : 140px;
  padding-bottom: 10px;
  color: #4B5905;
}

.banner-flower {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/banner-flower2.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
}

#slogan {
  background-color: #FCFCFC;
  color:#4B5905;
  padding: 20px;
}
 #makeup {
  font-weight: bolder;
 }

 #makeup2 {
  color:#9DA070;
  text-transform: uppercase;
 }

 .contact {
  background-color: #FAFAFA;
 }

 .mail-container {
  border-bottom: 1px solid #494949;
  padding-bottom: 10px;
 }


 /* MISE EN BEAUTE */
 .sous-titre-meb {
  color: #9DA070
 }

 .mise-en-beaute {
  margin-left: 170px;
  margin-top: 40px;
  max-width: 700px;
  text-align: left;
  color: #333;
  text-align: justify;
 }

 .img-misenbeaute {
 overflow: hidden;
  height: 100%;
 }

#meb {
  gap: 3rem;
}

h2, h3 {
  text-transform: uppercase;
  color:#405405 !important;
}


/* TETE A TETE */
.btn-tetatete {
  text-transform: uppercase ;
  border: 1px solid #333;
  width: 5Opx;
  padding: 10px 20px;
  margin-top: 10px;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.img-tetatete {
  overflow: hidden;
}

#tete-a-tete {
  gap: 10rem;
  margin-right: 100px;
}
.tete-a-tete {
    margin-top: 40px;
    max-width: 650px;
    text-align: justify;
}

/* grid-insta-container */
.findmeinsta {
  font-size: 32px;
  color: #b0b1b0

}
.grid-insta-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* gap: 8px; */
  width: 100%;
  margin: 20px 15px;
}
.grid-insta {
  flex: 0 0 auto;
  width: 220px; /* largeur fixe par exemple */
  height: 160px; /* hauteur fixe par exemple */
}


/* QUI SUIS-JE ?  */
#quisuisje {
  gap: 10rem;
  margin-right: 100px;
}
.quisuisje {
  margin-top: 40px;
  max-width: 700px;
  text-align: justify;
  color:#494954;
}
.quisuisje span {
  color: #AAA070;
}


/* DROIT IMAGE */

 .droit-image {
  text-align: justify;
  line-height: 2;
  color:#494954;
 }
.droit-image span {
  color:#AAA070;
}
#note {
  color:#405405;
}
