.nav-item>a.nav-link{
  text-decoration: none;
}

header h1 {
  color:#494949;

}

.nav a {
  color:#494949;
}

.english-spoken {
  background-color: #F0EFEB;
  padding: 20px, 0px;
}



.en {
   border-bottom: 1px solid #4B5905;
   width : 130px;
    padding-bottom: 10px;
    color: #4B5905;
}

.banner-flower {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/banner-flower.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
}

#slogan {
  background-color: #FCFCFC;
  color:#4B5905;
  padding: 20px;
}
 #makeup {
  font-weight: bolder;
 }

 .contact {
  background-color: #FAFAFA;
 }

 .mail-container {
  border-bottom: 1px solid #494949;
  padding-bottom: 10px;
 }

 .sous-titre-meb {
  color: #9DA070
 }

 .mise-en-beaute {
  margin-top: 40px;
  max-width: 700px;

  text-align: left;
  color: #333;
 }

 .img-misenbeaute {
 overflow: hidden;
  height: 100%;
 }

#meb {
  gap: 3rem;
}

h2  {
  text-transform: uppercase;
}
